<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StuAuth.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StuAuth.Properties.Settings>
            <setting name="KeyPass" serializeAs="String">
                <value />
            </setting>
            <setting name="IPApplication" serializeAs="String">
                <value />
            </setting>
            <setting name="LangCode" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="InterfaceSelect" serializeAs="String">
                <value>0</value>
            </setting>
        </StuAuth.Properties.Settings>
    </userSettings>
</configuration>